{:highlights [{:id #uuid "62abb32b-43ed-4ad9-aea4-d5f5332b5194", :page 51, :position {:bounding {:x1 160, :y1 684, :x2 494, :y2 808, :width 920.4, :height 1123.2}, :rects (), :page 51}, :content {:text "[:span]", :image 1655419691799}, :properties {:color "yellow"}}]}